.home-page {
  .side-bar-content {
    .side-bar-menu {
      background-color: #1a1a1a !important;
      div {
        border-bottom: 0.1px solid #303030;
        span {
          color: white !important;
        }
      }
    }
  }
}